body{
  margin: 0;
  background-color: white;
}
#Typr-Wrapper{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  /* border: black 2px solid; */
}
#leftTyprDiv {
  display: inline;
  position: absolute;
  width: 50%;
  float: left;
  margin-left: -1000%;
}
#rightTyprDiv {
  width: 50%;
  left: 50%;
  display: inline;
  position: absolute;
  float: left;
}
#typrLeft {
  white-space: pre;
  font-size: 2em;
  width: 2100%;
  color: #5900b3;
  position: absolute;
  text-overflow: clip;
  text-align: right;
}
#typrRight {
  font-size: 2em;
  width: 100%;
  color: white;
  overflow: hidden;
  white-space: pre;
}
#typrWrapper{
}
#UI-Wrapper{
  padding-top: 70px;
  vertical-align :middle;
  height: 225px;
  background-color: #5900b3;
}
#timerDiv{
  width: 33%;
  float: left;
  text-align: center;
  color: Gainsboro;
  font-size: 2em;
}
#timer {
  margin-top: -20px;
  font-size: 1.2em;
}
#WPMDiv{
  width: 33%;
  float: left;
  text-align: center;
  color: Gainsboro;
  font-size: 2em;
}
#WPM {
  margin-top: -20px;
  font-size: 1.2em;
}
#accuracyDiv{
  width: 33%;
  float: left;
  text-align: center;
  color: Gainsboro;
  font-size: 2em;
}
#accuracy {
  margin-top: -20px;
  font-size: 1.2em;
}
#below-wrapper{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #5900b3;
}
