body{
  margin: 0;
  background-color: white;
}

#leftTyprDiv {
  margin: 0px;
  position: absolute;
  width: 50%;
  height: 50px;
}
#rightTyprDiv {
  width: 50%;
  left: 50%;
  display: inline;
  position: absolute;
  float: right;
}
#typrLeft {
  font-size: 2em;
  width: 100%;
  color: grey;
  position: absolute;
  text-align: right;
  white-space: pre;
}
#typrRight {
  font-size: 2em;
  width: 100%;
  color: black;
  white-space: pre;
}
