.typing-text {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

#typr {
    position: absolute;
    align-items: right;
    text-align: right;
    width: 50%;
    display: inline;
    /* So white space are not collapsable. Otherwise spaces don't appear. */
    white-space: pre;
}
